* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #eaeaea;
    color: #333;
}

.container{
    width: 880px;
    background: #fff;
    margin: auto;
}

.header{
    padding: 15px;
    padding-bottom: 10px;
}

.header .judul{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}

.header .judul span{
    color: blue;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a{
    text-decoration: none;
    color: salmon;
    padding: 4px;
}

.header a:hover{
    background-color: blue;
    color: #ffffff;
}

.banner{
    height: 300px;
    background-image: url(Articel.png);
    background-size: cover;
    background-position: center;
    border-top: 5px solid lightgreen;
    border-bottom: 5px solid orange;
}

.contact{
    padding: 20px;
}

.contact h2{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact.penulis{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact .penulis a{
    color: salmon;
    text-decoration: none;
    font-weight: bold;
}

.contact p{
    margin-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}

.footer{
    background-color: royalblue;
    padding: 15px;
}

.footer .copyright{
    text-align: center;
    color: #fff;
    font-weight: bold;
}